MessageScreen {
    align: center middle;
}

#message_dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 7;
    border: thick $background 80%;
    background: $surface;
}

#message_label {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}

Button {
    width: 100%;
}

ConfirmScreen {
    align: center middle;
    background: $background 60%;

    &:ansi {
        background: transparent;
    }
}

#confirm_dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $surface;
}

#question {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}

.settings_row {
    height: 4;
    content-align: center middle;
}

.settings_label {
    height: 4;
    width: 25;
    content-align: left middle;
}

.settings_button {
    height: 3;
    width: 30;
    content-align: center middle;
    margin: 0 0 0 2;
}

#label_THEME_VALUE {
    height: 3;
    width: 30;
    content-align: center middle;
    border: round blue;
}

.settings_input {
    width: 30;
}

/* #button_THEME {
    height: 3;
    width: 30;
    content-align: center middle;
    align-vertical: middle;
    margin: 0 1;
} */